CREATE DATABASE LTSolution
GO

USE [LTSolution]
GO
/****** Object:  Table [dbo].[AsistenciasPermisos]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciasPermisos](
	[RegistroID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[TipoRegistroID] [int] NOT NULL,
	[MotivoDetallado] [nvarchar](max) NULL,
	[DocumentoSoporte] [nvarchar](255) NULL,
	[EstadoID] [int] NOT NULL,
	[AprobadoPor] [int] NULL,
	[FechaAprobacion] [datetime] NULL,
	[ComentarioAprobacion] [nvarchar](max) NULL,
	[CreadoPor] [int] NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [nvarchar](100) NOT NULL,
	[RUC] [nvarchar](11) NOT NULL,
	[Direccion] [nvarchar](255) NULL,
	[PersonaContacto] [nvarchar](100) NULL,
	[EmailContacto] [nvarchar](100) NULL,
	[TelefonoContacto] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuraciones]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[ConfiguracionID] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[TipoDato] [nvarchar](20) NULL,
	[Categoria] [nvarchar](50) NULL,
	[ModificadoPor] [int] NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfiguracionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CotizacionDetalles]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CotizacionDetalles](
	[DetalleID] [int] IDENTITY(1,1) NOT NULL,
	[CotizacionID] [int] NOT NULL,
	[TipoVehiculoID] [int] NOT NULL,
	[CantidadVehiculos] [int] NOT NULL,
	[DescripcionCarga] [nvarchar](max) NOT NULL,
	[PesoCarga] [decimal](10, 2) NULL,
	[LargoCarga] [decimal](8, 2) NULL,
	[AltoCarga] [decimal](8, 2) NULL,
	[AnchoCarga] [decimal](8, 2) NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[MonedaPrecioID] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[DescripcionDetalle] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cotizaciones]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizaciones](
	[CotizacionID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FechaCotizacion] [date] NOT NULL,
	[Origen] [nvarchar](255) NOT NULL,
	[Destino] [nvarchar](255) NOT NULL,
	[DescripcionGeneral] [nvarchar](max) NULL,
	[EstadoID] [int] NOT NULL,
	[MontoTotal] [decimal](18, 2) NULL,
	[MonedaID] [int] NOT NULL,
	[FechaVencimiento] [date] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
	[ModificadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CotizacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesCargaViaje]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesCargaViaje](
	[DetalleCargaID] [int] IDENTITY(1,1) NOT NULL,
	[ViajeID] [int] NOT NULL,
	[DescripcionMercaderia] [nvarchar](500) NOT NULL,
	[PesoMercaderia] [decimal](10, 2) NOT NULL,
	[LargoMercaderia] [decimal](8, 2) NULL,
	[AltoMercaderia] [decimal](8, 2) NULL,
	[AnchoMercaderia] [decimal](8, 2) NULL,
	[VolumenMercaderia] [decimal](10, 3) NULL,
	[CantidadPiezas] [int] NULL,
	[TipoEmbalaje] [nvarchar](100) NULL,
	[ValorDeclarado] [decimal](12, 2) NULL,
	[MonedaValorID] [int] NOT NULL,
	[RequiereCuidadoEspecial] [bit] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleCargaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosEmpleado]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosEmpleado](
	[DocumentoID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[TipoDocumentoID] [int] NOT NULL,
	[NumeroDocumento] [nvarchar](50) NOT NULL,
	[FechaEmision] [date] NULL,
	[FechaVencimiento] [date] NULL,
	[URLDocumento] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosVehiculo]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosVehiculo](
	[DocumentoVehiculoID] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoID] [int] NOT NULL,
	[TipoDocumentoVehiculoID] [int] NOT NULL,
	[NumeroDocumento] [nvarchar](50) NULL,
	[FechaEmision] [date] NOT NULL,
	[FechaVencimiento] [date] NULL,
	[URLDocumento] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentoVehiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[TipoDocumentoID] [int] NOT NULL,
	[NumeroDocumentoIdentidad] [nvarchar](20) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Direccion] [nvarchar](300) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[FechaContratacion] [date] NOT NULL,
	[MonedaSalarioID] [int] NULL,
	[Salario] [decimal](10, 2) NULL,
	[EstadoID] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
	[ModificadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaDetalles]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaDetalles](
	[FacturaDetalleID] [int] IDENTITY(1,1) NOT NULL,
	[FacturaID] [int] NOT NULL,
	[ViajeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacturaDetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[FacturaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[NumeroFactura] [nvarchar](50) NOT NULL,
	[FechaEmision] [date] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
	[MonedaID] [int] NOT NULL,
	[EstadoID] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
	[ModificadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flota]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flota](
	[VehiculoID] [int] IDENTITY(1,1) NOT NULL,
	[TipoID] [int] NOT NULL,
	[Placa] [nvarchar](10) NOT NULL,
	[Marca] [nvarchar](50) NULL,
	[Modelo] [nvarchar](50) NULL,
	[Ano] [int] NULL,
	[Ejes] [int] NULL,
	[Capacidad] [decimal](10, 2) NULL,
	[EstadoID] [int] NOT NULL,
	[FechaUltimaRevision] [date] NULL,
	[ProximoMantenimiento] [date] NULL,
	[KilometrajeActual] [decimal](10, 2) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
	[ModificadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GastosViaje]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GastosViaje](
	[GastoID] [int] IDENTITY(1,1) NOT NULL,
	[ViajeID] [int] NOT NULL,
	[TipoGastoID] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[MonedaGastoID] [int] NOT NULL,
	[FechaGasto] [date] NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[URLRecibo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GastoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuiasRemision]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuiasRemision](
	[GuiaID] [int] IDENTITY(1,1) NOT NULL,
	[ViajeID] [int] NOT NULL,
	[NumeroGuia] [nvarchar](50) NOT NULL,
	[FechaEmision] [date] NOT NULL,
	[URLDocumento] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GuiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstados]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstados](
	[HistorialID] [int] IDENTITY(1,1) NOT NULL,
	[TipoEntidad] [nvarchar](50) NOT NULL,
	[EntidadID] [int] NOT NULL,
	[EstadoAnterior] [nvarchar](50) NULL,
	[EstadoNuevo] [nvarchar](50) NOT NULL,
	[FechaCambio] [datetime] NULL,
	[CambiadoPor] [int] NOT NULL,
	[Motivo] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistorialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidentes]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidentes](
	[IncidenteID] [int] IDENTITY(1,1) NOT NULL,
	[ViajeID] [int] NOT NULL,
	[TipoIncidenteID] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Ubicacion] [nvarchar](200) NULL,
	[Latitud] [decimal](10, 8) NULL,
	[Longitud] [decimal](11, 8) NULL,
	[GravedadID] [int] NOT NULL,
	[EstadoID] [int] NOT NULL,
	[CostoEstimado] [decimal](10, 2) NULL,
	[MonedaCostoID] [int] NULL,
	[FechaResolucion] [datetime] NULL,
	[ResueltoPor] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidenteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MantenimientoReparaciones]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MantenimientoReparaciones](
	[RegistroID] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoID] [int] NOT NULL,
	[ProveedorID] [int] NULL,
	[FechaServicio] [date] NOT NULL,
	[MotivoID] [int] NOT NULL,
	[TipoServicioID] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[KilometrajeServicio] [decimal](10, 2) NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[MonedaCostoID] [int] NOT NULL,
	[RealizadoPor] [nvarchar](100) NULL,
	[EstadoID] [int] NOT NULL,
	[ProximoServicio] [date] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
	[TipoNotificacionID] [int] NOT NULL,
	[PrioridadID] [int] NOT NULL,
	[Leida] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaLectura] [datetime] NULL,
	[URLReferencia] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[PagoID] [int] IDENTITY(1,1) NOT NULL,
	[FacturaID] [int] NOT NULL,
	[FechaPago] [date] NOT NULL,
	[MontoPagado] [decimal](18, 2) NOT NULL,
	[MonedaPagoID] [int] NOT NULL,
	[TipoCambio] [decimal](8, 4) NULL,
	[MetodoPagoID] [int] NOT NULL,
	[NumeroReferencia] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosEmpleados]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosEmpleados](
	[PagoEmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[FechaInicioPeriodo] [date] NOT NULL,
	[FechaFinPeriodo] [date] NOT NULL,
	[FechaPago] [date] NOT NULL,
	[SalarioBase] [decimal](10, 2) NOT NULL,
	[Bonificaciones] [decimal](10, 2) NULL,
	[Descuentos] [decimal](10, 2) NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
	[MonedaPagoID] [int] NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoEmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParadasDescanso]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParadasDescanso](
	[ParadaID] [int] IDENTITY(1,1) NOT NULL,
	[ViajeID] [int] NOT NULL,
	[Ubicacion] [nvarchar](255) NOT NULL,
	[Latitud] [decimal](10, 8) NULL,
	[Longitud] [decimal](11, 8) NULL,
	[Notas] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParadaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedoresTalleres]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedoresTalleres](
	[ProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTaller] [nvarchar](200) NOT NULL,
	[RUC] [nvarchar](20) NULL,
	[Direccion] [nvarchar](500) NOT NULL,
	[Distrito] [nvarchar](100) NULL,
	[Provincia] [nvarchar](100) NULL,
	[Departamento] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[PersonaContacto] [nvarchar](150) NULL,
	[TelefonoContacto] [nvarchar](20) NULL,
	[Especialidad] [nvarchar](300) NOT NULL,
	[TipoProveedorID] [int] NOT NULL,
	[CalificacionServicio] [decimal](3, 2) NULL,
	[EstadoID] [int] NOT NULL,
	[HorarioAtencion] [nvarchar](200) NULL,
	[ServicioEmergencia] [bit] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
	[ModificadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposMaestros]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposMaestros](
	[TipoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](20) NULL,
	[Seccion] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[Activo] [bit] NULL,
	[Orden] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
	[ModificadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposVehiculo]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposVehiculo](
	[TipoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubigeo](
	[UbigeoID] [int] NOT NULL,
	[UbigeoInei] [nvarchar](20) NULL,
	[DepartamentoInei] [nvarchar](20) NULL,
	[Departamento] [nvarchar](50) NULL,
	[ProvinciaInei] [nvarchar](20) NULL,
	[Provincia] [nvarchar](50) NULL,
	[Distrito] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL,
	[Superficie] [int] NULL,
	[Altitud] [int] NULL,
	[Latitud] [decimal](10, 7) NULL,
	[Longitud] [decimal](10, 7) NULL,
	[Frontera] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UbigeoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ContrasenaHash] [nvarchar](255) NOT NULL,
	[RolID] [int] NOT NULL,
	[EstadoUsuarioID] [int] NOT NULL,
	[UltimoAcceso] [datetime] NULL,
	[IntentosLogin] [int] NULL,
	[FechaBloqueo] [datetime] NULL,
	[TokenRecuperacion] [nvarchar](255) NULL,
	[FechaExpiracionToken] [datetime] NULL,
	[RequiereCambioPassword] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
	[ModificadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehiculosViaje]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiculosViaje](
	[VehiculoViajeID] [int] IDENTITY(1,1) NOT NULL,
	[ViajeID] [int] NOT NULL,
	[VehiculoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoViajeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViajePermisos]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViajePermisos](
	[ViajePermisoID] [int] IDENTITY(1,1) NOT NULL,
	[ViajeID] [int] NOT NULL,
	[FechaEmision] [date] NULL,
	[FechaVencimiento] [date] NULL,
	[URLDocumento] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ViajePermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viajes]    Script Date: 31/8/2025 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viajes](
	[ViajeID] [int] IDENTITY(1,1) NOT NULL,
	[CotizacionID] [int] NOT NULL,
	[ConductorID] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
	[KilometrajeInicial] [int] NULL,
	[KilometrajeFinal] [int] NULL,
	[EstadoID] [int] NOT NULL,
	[PesoTotal] [decimal](10, 2) NULL,
	[LargoTotal] [decimal](8, 2) NULL,
	[AltoTotal] [decimal](8, 2) NULL,
	[AnchoTotal] [decimal](8, 2) NULL,
	[UbigeoOrigenID] [int] NULL,
	[DireccionOrigen] [nvarchar](200) NULL,
	[UbigeoDestinoID] [int] NULL,
	[DireccionDestino] [nvarchar](200) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[CreadoPor] [int] NULL,
	[ModificadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ViajeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Configuraciones] ON 

INSERT [dbo].[Configuraciones] ([ConfiguracionID], [Clave], [Valor], [Descripcion], [TipoDato], [Categoria], [ModificadoPor], [FechaModificacion]) VALUES (1, N'MONEDA_DEFAULT', N'PEN', N'Moneda por defecto del sistema', N'String', N'General', NULL, CAST(N'2025-08-23T23:29:05.147' AS DateTime))
INSERT [dbo].[Configuraciones] ([ConfiguracionID], [Clave], [Valor], [Descripcion], [TipoDato], [Categoria], [ModificadoPor], [FechaModificacion]) VALUES (2, N'TIPO_CAMBIO_USD_PEN', N'3.75', N'Tipo de cambio USD a PEN', N'Decimal', N'General', NULL, CAST(N'2025-08-23T23:29:05.147' AS DateTime))
INSERT [dbo].[Configuraciones] ([ConfiguracionID], [Clave], [Valor], [Descripcion], [TipoDato], [Categoria], [ModificadoPor], [FechaModificacion]) VALUES (3, N'TIPO_CAMBIO_EUR_PEN', N'4.10', N'Tipo de cambio EUR a PEN', N'Decimal', N'General', NULL, CAST(N'2025-08-23T23:29:05.147' AS DateTime))
SET IDENTITY_INSERT [dbo].[Configuraciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RolID], [NombreRol], [Descripcion]) VALUES (1, N'Admin', N'Administrador del sistema con todos los permisos')
INSERT [dbo].[Roles] ([RolID], [NombreRol], [Descripcion]) VALUES (2, N'Gerente', N'Gerente de operaciones')
INSERT [dbo].[Roles] ([RolID], [NombreRol], [Descripcion]) VALUES (3, N'Comercial', N'Encargado de cotizaciones y clientes')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposMaestros] ON 

INSERT [dbo].[TiposMaestros] ([TipoID], [Nombre], [Codigo], [Seccion], [Descripcion], [Activo], [Orden], [FechaCreacion], [FechaModificacion], [CreadoPor], [ModificadoPor]) VALUES (1, N'DNI', N'DNI', N'TIPODNI', N'Documento Nacional de Identidad', 1, 1, CAST(N'2025-08-23T23:29:05.143' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TiposMaestros] ([TipoID], [Nombre], [Codigo], [Seccion], [Descripcion], [Activo], [Orden], [FechaCreacion], [FechaModificacion], [CreadoPor], [ModificadoPor]) VALUES (2, N'Carnet de Extranjería', N'CE', N'TIPODNI', N'Carnet de Extranjería', 1, 2, CAST(N'2025-08-23T23:29:05.143' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TiposMaestros] ([TipoID], [Nombre], [Codigo], [Seccion], [Descripcion], [Activo], [Orden], [FechaCreacion], [FechaModificacion], [CreadoPor], [ModificadoPor]) VALUES (3, N'Pasaporte', N'PASS', N'TIPODNI', N'Pasaporte', 1, 3, CAST(N'2025-08-23T23:29:05.143' AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TiposMaestros] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposVehiculo] ON 

INSERT [dbo].[TiposVehiculo] ([TipoID], [NombreTipo], [Descripcion]) VALUES (1, N'Camion', N'Vehículo de carga principal')
INSERT [dbo].[TiposVehiculo] ([TipoID], [NombreTipo], [Descripcion]) VALUES (2, N'Trailer', N'Plataforma o cama baja')
INSERT [dbo].[TiposVehiculo] ([TipoID], [NombreTipo], [Descripcion]) VALUES (3, N'Escolta', N'Vehículo de acompañamiento y seguridad')
SET IDENTITY_INSERT [dbo].[TiposVehiculo] OFF
GO
INSERT [dbo].[Ubigeo] ([UbigeoID], [UbigeoInei], [DepartamentoInei], [Departamento], [ProvinciaInei], [Provincia], [Distrito], [Region], [Superficie], [Altitud], [Latitud], [Longitud], [Frontera]) VALUES (1, N'010101', N'01', N'AMAZONAS', N'0101', N'CHACHAPOYAS', N'CHACHAPOYAS', N'AMAZONAS', 154, 2338, CAST(-6.2294000 AS Decimal(10, 7)), CAST(-77.8728000 AS Decimal(10, 7)), 0)
INSERT [dbo].[Ubigeo] ([UbigeoID], [UbigeoInei], [DepartamentoInei], [Departamento], [ProvinciaInei], [Provincia], [Distrito], [Region], [Superficie], [Altitud], [Latitud], [Longitud], [Frontera]) VALUES (2, N'010102', N'01', N'AMAZONAS', N'0101', N'CHACHAPOYAS', N'ASUNCION', N'AMAZONAS', 26, 2823, CAST(-6.0325000 AS Decimal(10, 7)), CAST(-77.7108000 AS Decimal(10, 7)), 0)
INSERT [dbo].[Ubigeo] ([UbigeoID], [UbigeoInei], [DepartamentoInei], [Departamento], [ProvinciaInei], [Provincia], [Distrito], [Region], [Superficie], [Altitud], [Latitud], [Longitud], [Frontera]) VALUES (3, N'010103', N'01', N'AMAZONAS', N'0101', N'CHACHAPOYAS', N'BALSAS', N'AMAZONAS', 357, 859, CAST(-6.8358000 AS Decimal(10, 7)), CAST(-78.0197000 AS Decimal(10, 7)), 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__CAF3326B09DACBB6]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[RUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Configur__E8181E1198483E1E]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[Configuraciones] ADD UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__2B8421E60DC505A6]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[Empleados] ADD UNIQUE NONCLUSTERED 
(
	[NumeroDocumentoIdentidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Facturas__CF12F9A67DD320DE]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[Facturas] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Flota__8310F99D9BDCB0E2]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[Flota] ADD UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GuiasRem__4F8877EDABAC7BA2]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[GuiasRemision] ADD UNIQUE NONCLUSTERED 
(
	[NumeroGuia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__4F0B537FA3F7A10E]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TiposMae__7604AE02292790DF]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[TiposMaestros] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC,
	[Seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__6B0F5AE0C39728F8]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D105343A1D1B2E]    Script Date: 31/8/2025 13:41:29 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsistenciasPermisos] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[Configuraciones] ADD  DEFAULT ('String') FOR [TipoDato]
GO
ALTER TABLE [dbo].[Configuraciones] ADD  DEFAULT ('General') FOR [Categoria]
GO
ALTER TABLE [dbo].[Configuraciones] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetallesCargaViaje] ADD  DEFAULT ((1)) FOR [CantidadPiezas]
GO
ALTER TABLE [dbo].[DetallesCargaViaje] ADD  DEFAULT ((0)) FOR [RequiereCuidadoEspecial]
GO
ALTER TABLE [dbo].[DetallesCargaViaje] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Flota] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[HistorialEstados] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Incidentes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[MantenimientoReparaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PagosEmpleados] ADD  DEFAULT ((0)) FOR [Bonificaciones]
GO
ALTER TABLE [dbo].[PagosEmpleados] ADD  DEFAULT ((0)) FOR [Descuentos]
GO
ALTER TABLE [dbo].[ParadasDescanso] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ProveedoresTalleres] ADD  DEFAULT ((0)) FOR [ServicioEmergencia]
GO
ALTER TABLE [dbo].[ProveedoresTalleres] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TiposMaestros] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TiposMaestros] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[TiposMaestros] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosLogin]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [RequiereCambioPassword]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Viajes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[AsistenciasPermisos]  WITH CHECK ADD FOREIGN KEY([AprobadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[AsistenciasPermisos]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[AsistenciasPermisos]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [dbo].[AsistenciasPermisos]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[AsistenciasPermisos]  WITH CHECK ADD FOREIGN KEY([TipoRegistroID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Configuraciones]  WITH CHECK ADD FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[CotizacionDetalles]  WITH CHECK ADD FOREIGN KEY([CotizacionID])
REFERENCES [dbo].[Cotizaciones] ([CotizacionID])
GO
ALTER TABLE [dbo].[CotizacionDetalles]  WITH CHECK ADD FOREIGN KEY([MonedaPrecioID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[CotizacionDetalles]  WITH CHECK ADD FOREIGN KEY([TipoVehiculoID])
REFERENCES [dbo].[TiposVehiculo] ([TipoID])
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD FOREIGN KEY([MonedaID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[DetallesCargaViaje]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[DetallesCargaViaje]  WITH CHECK ADD FOREIGN KEY([MonedaValorID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[DetallesCargaViaje]  WITH CHECK ADD FOREIGN KEY([ViajeID])
REFERENCES [dbo].[Viajes] ([ViajeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentosEmpleado]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [dbo].[DocumentosEmpleado]  WITH CHECK ADD FOREIGN KEY([TipoDocumentoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[DocumentosVehiculo]  WITH CHECK ADD FOREIGN KEY([TipoDocumentoVehiculoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[DocumentosVehiculo]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[Flota] ([VehiculoID])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([MonedaSalarioID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([TipoDocumentoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_CreadoPor] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_CreadoPor]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_ModificadoPor] FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_ModificadoPor]
GO
ALTER TABLE [dbo].[FacturaDetalles]  WITH CHECK ADD FOREIGN KEY([FacturaID])
REFERENCES [dbo].[Facturas] ([FacturaID])
GO
ALTER TABLE [dbo].[FacturaDetalles]  WITH CHECK ADD FOREIGN KEY([ViajeID])
REFERENCES [dbo].[Viajes] ([ViajeID])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([MonedaID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Flota]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Flota]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Flota]  WITH CHECK ADD FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Flota]  WITH CHECK ADD FOREIGN KEY([TipoID])
REFERENCES [dbo].[TiposVehiculo] ([TipoID])
GO
ALTER TABLE [dbo].[GastosViaje]  WITH CHECK ADD FOREIGN KEY([MonedaGastoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[GastosViaje]  WITH CHECK ADD FOREIGN KEY([TipoGastoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[GastosViaje]  WITH CHECK ADD FOREIGN KEY([ViajeID])
REFERENCES [dbo].[Viajes] ([ViajeID])
GO
ALTER TABLE [dbo].[GuiasRemision]  WITH CHECK ADD FOREIGN KEY([ViajeID])
REFERENCES [dbo].[Viajes] ([ViajeID])
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD FOREIGN KEY([CambiadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD FOREIGN KEY([GravedadID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD FOREIGN KEY([MonedaCostoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD FOREIGN KEY([ResueltoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD FOREIGN KEY([TipoIncidenteID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD FOREIGN KEY([ViajeID])
REFERENCES [dbo].[Viajes] ([ViajeID])
GO
ALTER TABLE [dbo].[MantenimientoReparaciones]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[MantenimientoReparaciones]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[MantenimientoReparaciones]  WITH CHECK ADD FOREIGN KEY([MonedaCostoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[MantenimientoReparaciones]  WITH CHECK ADD FOREIGN KEY([MotivoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[MantenimientoReparaciones]  WITH CHECK ADD FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[ProveedoresTalleres] ([ProveedorID])
GO
ALTER TABLE [dbo].[MantenimientoReparaciones]  WITH CHECK ADD FOREIGN KEY([TipoServicioID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[MantenimientoReparaciones]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[Flota] ([VehiculoID])
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD FOREIGN KEY([PrioridadID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD FOREIGN KEY([TipoNotificacionID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([FacturaID])
REFERENCES [dbo].[Facturas] ([FacturaID])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([MetodoPagoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([MonedaPagoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[PagosEmpleados]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [dbo].[PagosEmpleados]  WITH CHECK ADD FOREIGN KEY([MonedaPagoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[ParadasDescanso]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[ParadasDescanso]  WITH CHECK ADD FOREIGN KEY([ViajeID])
REFERENCES [dbo].[Viajes] ([ViajeID])
GO
ALTER TABLE [dbo].[ProveedoresTalleres]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[ProveedoresTalleres]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[ProveedoresTalleres]  WITH CHECK ADD FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[ProveedoresTalleres]  WITH CHECK ADD FOREIGN KEY([TipoProveedorID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[TiposMaestros]  WITH CHECK ADD  CONSTRAINT [FK_TiposMaestros_CreadoPor] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[TiposMaestros] CHECK CONSTRAINT [FK_TiposMaestros_CreadoPor]
GO
ALTER TABLE [dbo].[TiposMaestros]  WITH CHECK ADD  CONSTRAINT [FK_TiposMaestros_ModificadoPor] FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[TiposMaestros] CHECK CONSTRAINT [FK_TiposMaestros_ModificadoPor]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([EstadoUsuarioID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_CreadoPor] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_CreadoPor]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_ModificadoPor] FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_ModificadoPor]
GO
ALTER TABLE [dbo].[VehiculosViaje]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[Flota] ([VehiculoID])
GO
ALTER TABLE [dbo].[VehiculosViaje]  WITH CHECK ADD FOREIGN KEY([ViajeID])
REFERENCES [dbo].[Viajes] ([ViajeID])
GO
ALTER TABLE [dbo].[ViajePermisos]  WITH CHECK ADD FOREIGN KEY([ViajeID])
REFERENCES [dbo].[Viajes] ([ViajeID])
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD FOREIGN KEY([ConductorID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD FOREIGN KEY([CotizacionID])
REFERENCES [dbo].[Cotizaciones] ([CotizacionID])
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[TiposMaestros] ([TipoID])
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD FOREIGN KEY([UbigeoDestinoID])
REFERENCES [dbo].[Ubigeo] ([UbigeoID])
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD FOREIGN KEY([UbigeoOrigenID])
REFERENCES [dbo].[Ubigeo] ([UbigeoID])
GO
ALTER TABLE [dbo].[DetallesCargaViaje]  WITH CHECK ADD  CONSTRAINT [CHK_DetallesCarga_Peso] CHECK  (([PesoMercaderia]>=(0)))
GO
ALTER TABLE [dbo].[DetallesCargaViaje] CHECK CONSTRAINT [CHK_DetallesCarga_Peso]
GO
ALTER TABLE [dbo].[DetallesCargaViaje]  WITH CHECK ADD  CONSTRAINT [CHK_DetallesCarga_Valor] CHECK  (([ValorDeclarado]>=(0)))
GO
ALTER TABLE [dbo].[DetallesCargaViaje] CHECK CONSTRAINT [CHK_DetallesCarga_Valor]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [CHK_Empleados_Email] CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [CHK_Empleados_Email]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [CHK_Empleados_Salario] CHECK  (([Salario]>=(0)))
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [CHK_Empleados_Salario]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [CHK_Facturas_MontoTotal] CHECK  (([MontoTotal]>=(0)))
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [CHK_Facturas_MontoTotal]
GO
ALTER TABLE [dbo].[Flota]  WITH CHECK ADD  CONSTRAINT [CHK_Flota_CapacidadCarga] CHECK  (([Capacidad]>(0)))
GO
ALTER TABLE [dbo].[Flota] CHECK CONSTRAINT [CHK_Flota_CapacidadCarga]
GO
ALTER TABLE [dbo].[Flota]  WITH CHECK ADD  CONSTRAINT [CHK_Flota_Placa] CHECK  ((len([Placa])>=(6)))
GO
ALTER TABLE [dbo].[Flota] CHECK CONSTRAINT [CHK_Flota_Placa]
GO
ALTER TABLE [dbo].[GastosViaje]  WITH CHECK ADD  CONSTRAINT [CHK_GastosViaje_Monto] CHECK  (([Monto]>=(0)))
GO
ALTER TABLE [dbo].[GastosViaje] CHECK CONSTRAINT [CHK_GastosViaje_Monto]
GO
ALTER TABLE [dbo].[MantenimientoReparaciones]  WITH CHECK ADD  CONSTRAINT [CHK_Mantenimiento_Costo] CHECK  (([Costo]>=(0)))
GO
ALTER TABLE [dbo].[MantenimientoReparaciones] CHECK CONSTRAINT [CHK_Mantenimiento_Costo]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CHK_Pagos_Monto] CHECK  (([MontoPagado]>=(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CHK_Pagos_Monto]
GO
ALTER TABLE [dbo].[PagosEmpleados]  WITH CHECK ADD  CONSTRAINT [CHK_PagosEmpleados_Monto] CHECK  (([MontoTotal]>=(0)))
GO
ALTER TABLE [dbo].[PagosEmpleados] CHECK CONSTRAINT [CHK_PagosEmpleados_Monto]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CHK_Usuarios_Email] CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CHK_Usuarios_Email]
GO
ALTER TABLE [dbo].[Viajes]  WITH CHECK ADD  CONSTRAINT [CHK_Viajes_Fechas] CHECK  (([FechaInicio]<=[FechaFin] OR [FechaFin] IS NULL))
GO
ALTER TABLE [dbo].[Viajes] CHECK CONSTRAINT [CHK_Viajes_Fechas]
GO
